.page229__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
}

.page229__header {
  text-align: left;
}

.page229__system-title {
  border: 0.3rem solid #0A3282;
  color: #0A3282;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 3.8rem;
}

.page229__main-title {
  color: #0A3282;
  font-size: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.page229__subtitle {
  color: #888A8C;
  font-size: 2rem;
  font-style: italic;
}

.page229__top-example {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.page229__image {
  width: 25%;
  height: auto;
  border-radius: 0.5rem;
}

.page229__text-red {
  color: #A61C28;
  font-weight: bold;
}

.page229__image-block {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.page229__image-wrapper {
  position: relative;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page229__conversation-image {
  width: 100%;
  border-radius: 0.5rem;
}

.page229__speech-left {
  background-color: #E0E8F9;
  border: 0.3rem solid #0A3282;
  color: #0A3282;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1.5rem;
  width: fit-content;
  position: absolute;
  top: 7rem;
  left: 0;
}

.page229__speech-right-red {
  background-color: #F9E0E0;
  border: 0.3rem solid #A61C28;
  color: #A61C28;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1.5rem;
  width: fit-content;
  position: absolute;
  right: 0;
}

.page229__note {
  border: 0.4rem solid #0A3282;
  border-radius: 1rem;
  text-align: left;
  width: fit-content;
  margin-top: 4rem;
}

.page229__note-header {
  background-color: #0A3282;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1.9rem;
  font-weight: bold;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.page229__note-content {
  padding: 1rem;
  background-color: white;
  color: black;
  font-size: 1.6rem;
}

.page229__red-bold {
  color: #A61C28;
  font-weight: bold;
}

.page229__blue-bold {
  color: #0A3282;
  font-weight: bold;
}
