.page13__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page13__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page13__header-h2 {
    color: black;
}

.page13__main {
    width: 100%;
    text-align: center;
}

.page13__aside {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page13__new-aside-notes1 {
    width:100%;
    height: 4.5rem;
    border: 0.4rem solid #0A3282;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    background-color: white;
    font-weight: bold;
    color: #0A3282;
    display: flex;
    align-items: center;
}

.page13__new-aside-notes2 {
    width: 100%;
    height: 100%;
    border: 0.4rem solid #0A3282;
    border-top: 0.1rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    color: #103275;
    margin-bottom: 4rem;
}

.page13__new-aside-notes2 p {
    font-size: 1.5rem;
    padding: 1rem;
}

.page13__aside-img {
    height: calc(2rem + 0.8vw);
    width: 4rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

.page13__table-header {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

/* Estrutura da tabela */

.page13__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.page13__table:nth-child(odd) {
    margin-bottom: 0;
}

.page13__table thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}

.page13__table th,
.page13__table td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.page13__table tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.page13__table tbody tr:nth-child(even) {
    background-color: white;
}

/* Estilos dos inputs dentro da tabela */

.page13__table-input {
    width: 100%;
    height: calc(8vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    font-size: 1.8rem;
}

.page13__table-input:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.page13__table-input::-webkit-scrollbar {
    display: none;
}

/* Definição de largura das colunas */

.page13__table-subject {
    width: calc(10vw * 0.85);
}

.page13__table-auxiliary {
    width: calc(10vw * 0.85);
}

.page13__table-adverb {
    width: calc(12vw * 0.85);
}

.page13__table-verb {
    width: calc(12vw * 0.85);
}

.page13__table-complement {
    width: calc(18vw * 0.85);
}

.page13__table-translation {
    width: calc(18vw * 0.85);
}

/* Notas ao lado da tabela */

.page13__aside-notes1 {
    width: 50%;
    height: 4.5rem;
    border: 0.4rem solid #0A3282;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    background-color: #0A3282;
    color: white;
    display: flex;
    align-items: center;
}

.page13__aside-notes1 p {
    font-size: 1.5rem;
}

.page13__aside-img-notes {
    height: calc(10px + 0.8vw);
    width: 2rem;
    padding-right: .5rem;
}

.page13__aside-notes2 {
    width: 50%;
    height: 100%;
    border: 0.4rem solid #0A3282;
    border-top: 0.1rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    color: #103275;
}

.page13__aside-notes2 p {
    font-size: 1.5rem;
    padding: 1vw;
}

/* Ícones interativos */

.page13__icon {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    top: 1rem;
    transition: transform 0.2s ease-in-out;
}

.page13__icon:hover {
    transform: scale(1.2);
}

/* Ícone esquerdo */

.page13__icon-left {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    right: 36%;
    top: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page13__icon-left:hover {
    transform: scale(1.2);
}

/* Responsividade */

@media (max-width: 1024px) {
    .page13__table {
        margin-bottom: 15%;
    }

    .page13__table th,
    .page13__table td {
        padding: .5rem;
    }

    .page13__table-input {
        height: calc(6vw * 0.85);
    }

    .page13__aside-notes1,
    .page13__aside-notes2 {
        width: 100%;
    }

    .page13__aside-notes1 p,
    .page13__aside-notes2 p {
        padding: 1rem;
        font-size: 2.75rem;
    }
}
