.page89__container {
    margin: auto;
    padding: 2rem;
}

.page89__header {
    text-align: left;
    margin-bottom: 2rem;
}

.page89__main {
    justify-self: start;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 5rem;
}

.page89__title {
    font-size: 4rem;
    font-weight: bold;
    color: #a50000;
}

.page89__subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #a50000;
}

.page89__questions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.page89__column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page89__question-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page89__image {
    width: 25rem;
    height: 20rem;
    border: 1rem solid white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.page89__input {
    width: 45px;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    background-color: #f2f2f2;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0 5px;
}

.page89__clickable-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.page89__icons-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page89__icon-check {
    width: 30px;
    height: 30px;
}

.page89__check-button {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    margin: 3rem 0;
    text-align: left;
    display: block;
    font-size: 2rem;
    width: fit-content;
    justify-self: start;
    align-self: start;
}

.page89__check-button:hover {
    background-color: #8a1720;
}

.page89__header-icon {
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.page89__audio-icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    top: 1rem;
    margin-left: 0.5rem;
}

.page89__audio-icon--pulsing {
    animation: pulse 1s infinite;
}

.page89__audio-icon:hover {
    transform: scale(1.2);
}