.page280__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
}

.page280__header {
  text-align: left;
}

.page280__system-title {
  border: 0.3rem solid #0A3282;
  color: #0A3282;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 3.8rem;
}

.page280__main-title {
  color: #0A3282;
  font-size: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.page280__subtitle {
  color: #888A8C;
  font-size: 2rem;
  font-style: italic;
}

.page280__top-example {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  font-weight: bold;
}

.page280__image {
  width: 25%;
  height: auto;
  border-radius: 0.5rem;
}

.page280__text-red {
  color: #A61C28;
}

.page280__image-block {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.page280__image-wrapper {
  position: relative;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page280__conversation-image {
  width: 100%;
  border-radius: 0.5rem;
}

.page280__speech-left {
  background-color: #E0E8F9;
  border: 0.3rem solid #0A3282;
  color: #0A3282;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1.5rem;
  width: fit-content;
  position: absolute;
  right: 0;
  font-size: 1.5rem;
}

.page280__speech-left2 {
  background-color: #E0E8F9;
  border: 0.3rem solid #0A3282;
  color: #0A3282;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1.5rem;
  width: fit-content;
  position: absolute;
  top: 7rem;
  left: 0;
  font-size: 1.5rem;
}

.page280__speech-right-red {
  background-color: #F9E0E0;
  border: 0.3rem solid #A61C28;
  color: #A61C28;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1.5rem;
  width: fit-content;
  position: absolute;
  top: 7rem;
  left: 0;
  font-size: 1.5rem;
}

.page280__speech-right-red2 {
  background-color: #F9E0E0;
  border: 0.3rem solid #A61C28;
  color: #A61C28;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1.5rem;
  width: fit-content;
  position: absolute;
  right: 0;
  font-size: 1.5rem;
}

.page280__note {
  border: 0.4rem solid #0A3282;
  border-radius: 1rem;
  text-align: left;
  width: fit-content;
  margin-top: 4rem;
}

.page280__note-header {
  background-color: #0A3282;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1.9rem;
  font-weight: bold;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.page280__note-content {
  padding: 1rem;
  background-color: white;
  color: black;
  font-size: 1.6rem;
}

.page280__red-bold {
  color: #A61C28;
  font-weight: bold;
}

.page280__blue-bold {
  color: #0A3282;
  font-weight: bold;
}

.page280__audio-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  position: relative;
  top: 0.3rem;
  transition: transform 0.2s ease;
}

.page280__audio-icon:hover {
  transform: scale(1.2);
}
