.page42__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page42__header {
    padding-left: 4%;
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page42__header-title {
    font-size: 4rem;
}

.page42__main {
    padding-left: 4%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #EEF4F7;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.page42__main p {
    padding: 1rem;
    font-size: 2rem;
}

.page42__aside {
    padding: 0 4%;
    width: 100%;
    display: flex;
}

.page42__image--1 {
    width: 40%;
    max-height: 115.2rem;
    object-fit: cover;
    object-position: center;
}

.page42__people-container {
    margin-right: 5%;
    padding-top: 2rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.page42__person--1,
.page42__person--2,
.page42__person--3,
.page42__person--4,
.page42__person--5 {
    display: flex;
    background-color: #EEF4F7;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.page42__person-image--1,
.page42__person-image--2,
.page42__person-image--3,
.page42__person-image--4,
.page42__person-image--5 {
    width: 20rem;
    height: 20rem;
}

.page42__separator {
    height: 5px;
    background-color: #D4D7D8;
    border: none;
}

.page42__aside-notes--1 {
    width: 80%;
    height: 45px;
    border: 4px solid #0A3282;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #0A3282;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.page42__aside-image-notes {
    height: calc(10px + 0.8vw);
    width: 20px;
    padding-right: 5px;
}

.page42__aside-notes--2 {
    width: 80%;
    border: 4px solid #0A3282;
    border-top: 1px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    text-align: left;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #103275;
}

.page42__aside-notes--2 p {
    padding: 1vw;
    font-size: 1.65rem;
}

.page42__aside-notes--2-bold {
    font-weight: bold;
}

.page42__aside-notes--2 p {
    padding: 1vw;
    font-size: 1.65rem;
}

.page42__aside-notes--2-bold {
    font-weight: bold;
}

.page42__aside-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page42__audio-icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    top: 0.5rem;
}

.page42__header-title {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.page42__header-title img {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

@media (max-width:1440px) {
    .page42__main p {
        padding: 1rem;
        font-size: 2.3rem;
    }

    .page42__image--1 {
        max-height: none;
    }

    .page42__aside {
        flex-direction: column;
    }

    .page42__aside-container {
        margin-bottom: 5%;
    }

    .page42__aside-notes--1,
    .page42__aside-notes--2 {
        width: 100%;
    }

    .page42__aside-notes--2 {
        padding: 0 10rem;
        justify-content: space-between;
    }

    .page42__aside-notes--1,
    .page42__aside-notes--2 p {
        width: 100%;
        font-size: 2rem;
    }
}
