.page66__container {
  width: 100%;
  padding: 2rem;
}

.page66__header {
  text-align: left;
}

.page66__grammar-title {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
}

.page66__header--en {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
}

.page66__header--pt {
  color: black;
  font-size: 2.8rem;
  font-style: italic;
}

.page66__infinitive {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 4rem; /* Espaço maior abaixo do Infinitivo */
}

.page66__main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.page66__block {
  border: 0.4rem solid #A61C28;
  border-radius: 1rem;
  padding: 5rem 2rem 2rem 2rem;
  position: relative;
}

.page66__label--leftA,
.page66__label--centerB,
.page66__label--rightC,
.page66__label--leftD,
.page66__label--centerE,
.page66__label--centerF,
.page66__label--rightG,
.page66__label--leftH,
.page66__label--centerL,
.page66__label--centerM,
.page66__label--rightN {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
}

.page66__label--leftA{
  position: relative;
  right: 30%;
}

.page66__label--centerB{
  position: relative;
}

.page66__label--rightC{
  position: relative;
  left: 30%;
}

.page66__columns--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.page66__column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page66__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 2rem;
  color: black;
}

.page66__english {
  color: #A61C28;
  font-weight: bold;
}

.page66__highlight--red {
  color: #A61C28;
  font-weight: bold;
}
.page66__to-be-en {
  background-color: #A61C28;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  margin: 0 auto;
  line-height: 1;
  align-self: start;
  justify-self: center; 
}


.page66__to-be-pt {
  background-color: #A61C28;
  color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.page66__row div {
  text-align: left;
}

.page66__columns--4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.page66__label--leftD {
  position: relative;
  right: 35%;
}

.page66__label--centerE{
    position: relative;
    right: 12%;
}
.page66__label--centerF {
    position: relative;
    left: 11%;
}

.page66__label--rightG {
  position: relative;
  left: 35%;
}

.page66__label--leftH {
  position: relative;
  right: 35%;
}

.page66__label--centerL{
    position: relative;
    right: 12%;
}
.page66__label--centerM {
    position: relative;
    left: 11%;
}

.page66__label--rightN {
  position: relative;
  left: 35%;
}