.page103__container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
}

.page103__header {
    width: 100%;
}

.page103__h1 {
    text-align: left;
    font-size: 6rem;
    color: #8a1720;
}

.page103__h2 {
    text-align: left;
    font-size: 2.5rem;
    color: #8a1720;
    margin-bottom: 2rem;
    font-weight: bold;
}

.page103__main {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.page103__aside {
    width: 100%;
    display: flex;
}

/* Container de questões */
.page103__container--questoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page103__questions1,
.page103__questions2 {
    margin-top: 2rem;
    text-align: left;
}

.page103__question {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    color: black;
    text-align: left;
}

.page103__question span {
    font-size: 1.9rem;
    font-weight: bold;
    color: black;
}

.page103__header p {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    margin-top: 5rem;
}

.page103__titulo--question {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    color: #A61C28;
}

.page103__select--box {
    width: 25rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: left;
}

.page103__checkmark--image {
    width: 2.5rem;
    height: 2.5rem;
    pointer-events: none;
}

.page103__check--button {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    text-align: center;
    display: block;
    font-size: 2rem;
    width: fit-content;
}

.page103__check--button:hover {
    background-color: #8a1720;
}

.page103__icons--container {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.page103__additional--icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.page103__additional--icon--pulsing {
    animation: pulse 1s infinite;
}

.page103__additional--icon:hover {
    transform: scale(1.2);
}

.page103__imagem {
    width: 37rem;
    height: 27rem;
}

.page103__tabela--afirmativa--container,
.page103__tabela--negativa--container {
    width: 70%;
    height: 10rem;
}

.page103__table--header--afirmativa,
.page103__table--header--negativa {
    background-color: #A61C28;
    color: white;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
    margin-bottom: 0.2rem;
}

.page103__styled--table--afirmativa,
.page103__styled--table--negativa {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0.5rem;
}

.page103__styled--table--afirmativa th,
.page103__styled--table--negativa th {
    background-color: #888A8C;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #A61C28;
}

.page103__celula--table {
    height: 7rem;
}

.page103__container--imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28rem;
}

.page103__header--icon {
    width: 2rem; /* Tamanho do ícone */
    height: 2rem;
    margin-left: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.page103__header--icon:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}
