.page43__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page43__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page43__header-title {
    font-size: 4rem;
}

.page43__main {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


.page43__container-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page43__image {
    height: 10rem;
    width: 10rem;
}

.page43__container-div {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
    text-align: left;
}

.page43__vertical-line {
    border-left: 0.5 solid #A61C28;
    height: 100%;
    margin: 0 1rem;
}

.page43__main-paragrafo-bold {
    font-weight: bold;
}

.page43__audio-icon {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    top: 1rem;
}

.page43__header-title img {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}
