.pg47Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pg47Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.pg47HeaderH2H3 {
    color: black;
}

.pg47HeaderH2 {
    font-size: 3rem;
    padding-bottom: 0%;
}

.pg47HeaderH3 {
    font-size: 2.5rem;
}

.pg47HeaderH1 {
    font-size: 4rem;
}

.pg47Main {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.pg47Aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f7f9fa;
}

.pg47Titulo {
    align-self: start;
    font-weight: bold;
    color: #A61C28;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.pg47table {
    border-collapse: collapse;
    width: auto;
    max-width: 50%;
    font-family: Arial, sans-serif;
    margin-right: 5rem;
}


.pg47table th,
.pg47table td {
    border: 0.1rem solid #000;
    text-align: left;
    padding: 0.8rem;
}

.pg47table th {
    background-color: #A61C28;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.pg47ContainerMain {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}


.pg47MainTexto {
    width: 40%;
    background-color: #f7f9fa;
    border: 0.1rem solid #ddd;
    padding: 2rem;
    border-radius: 0.8rem;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: left;
}

.pg47MainList {
    list-style: decimal inside;
    margin: 0;
    padding: 0;
}

.pg47MainList li {
    padding: .8rem;
    font-size: 2rem;
    cursor: pointer;
}

.pg47MainList li:nth-child(1) {
    padding-top: 0;
}

.pg47MainList li:nth-child(10) {
    padding-bottom: 0;
}

.pg47MainList strong {
    font-weight: bold;
    color: #000;
}

.pg47Exemplo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 1rem;
}

.pg47ExemploImg {
    text-align: center;
    display: flex;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pg47AsideImg1 {
    width: 39.5rem;
    height: 29rem;
    border-radius: 50%;
}

.pg47AsideTexto1 {
    background-color: #F8D7DA;
    height: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    position: absolute;
    margin: 1rem auto;
    top: 86%;
    right: 26%;
}

.pg47AsideTexto1::after {
    content: '';
    position: absolute;
    top: -8.7rem;
    left: 3.8rem;
    width: 0;
    height: 0;
    border-bottom: 9.8rem solid #F8D7DA;
    border-left: .3rem solid transparent;
    border-right: 2rem solid transparent;
}


.pg47AsideTexto2 {
    background-color: #C1D9F1;
    height: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    position: absolute;
    margin: 1rem auto;
    top: 70%;
    left: -8%;
}

.pg47AsideTexto2::after {
    content: '';
    position: absolute;
    top: -3.7rem;
    left: 5.8rem;
    width: 0;
    height: 0;
    border-bottom: 4.8rem solid #C1D9F1;
    border-left: 2.3rem solid transparent;
}


.pg47AsideTexto3 {
    background-color: #C5E2BA;
    height: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    position: absolute;
    margin: 1rem auto;
    top: 8%;
    right: 31%;
}

.pg47AsideTexto3::before {
    content: '';
    position: absolute;
    bottom: -4.7rem;
    left: 3.8rem;
    width: 0;
    height: 0;
    border-top: 5.8rem solid #C5E2BA;
    border-left: 6.3rem solid transparent;
    clip-path: polygon(54% 0, 78% 100%, 14% 0%);
    background-color: #C5E2BA;
}



.pg47AsideTexto4 {
    background-color: #FFF7A6;
    height: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    position: absolute;
    margin: 1rem auto;
    margin-bottom: 2rem;
    top: 8%;
    right: -42%;
    cursor: pointer;
}

.pg47AsideTexto4::before {
    content: '';
    position: absolute;
    bottom: -3.7rem;
    left: -2.2rem;
    width: 0;
    height: 0;
    border-top: 4.8rem solid #FFF7A6;
    border-left: 5.3rem solid transparent;
    clip-path: polygon(125% -6%, 0% 67%, 47% 0%);
    background-color: #FFF7A6;
}

.pg47AsideTexto4::after {
    content: '';
    position: absolute;
    bottom: -3.7rem;
    left: 6.8rem;
    width: 0;
    height: 0;
    border: 2rem solid #FFF7A6;
    border-left: 0;
}

.pg47AsideTexto5 {
    background-color: #FFF7A6;
    height: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    position: absolute;
    margin: 1rem auto;
    margin-bottom: 2rem;
    top: 38%;
    right: -70%;
    cursor: pointer;
}

.pg47AsideTexto1 p,
.pg47AsideTexto1 strong,
.pg47AsideTexto2 p,
.pg47AsideTexto2 strong,
.pg47AsideTexto3 p,
.pg47AsideTexto3 strong,
.pg47AsideTexto4 p,
.pg47AsideTexto4 strong,
.pg47AsideTexto5 p,
.pg47AsideTexto5 strong {
    font-size: 1.5rem;
}

.pg47AsideTraducao1 {
    background-color: #F8D7DA;
    height: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    margin-left: 1rem;
}

.pg47AsideTraducao2 {
    background-color: #C1D9F1;
    height: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    margin-left: 1rem;
}

.pg47AsideTraducao3 {
    background-color: #C5E2BA;
    height: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    margin-left: 1rem;
}

.pg47AsideTraducao4 {
    background-color: #FFF7A6;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 64%;
}

.pg47Traducao {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pg47TraducaoTop {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 65%;
}

.pg47AsideTraducao1,
.pg47AsideTraducao2,
.pg47AsideTraducao3 {
    flex: 1;
}

.pg47AsideTraducao1,
.pg47AsideTraducao2,
.pg47AsideTraducao3,
.pg47AsideTraducao4 {
    text-align: center;
}

.pg47HeaderH1,
.pg47HeaderH2,
.pg47HeaderH3 {
    cursor: pointer;
}