.page283__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: black;
}

.page283__title {
  color: #A61C28;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
}

.page283__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.page283__text {
  width: 60%;
  text-align: left;
}

.page283__image {
  width: 30%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover; 
}

.page283__red {
  color: #A61C28;
}

.page283__audio-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  position: relative;
  top: 0.3rem;
  transition: transform 0.2s ease;
}

.page283__audio-icon:hover {
  transform: scale(1.2);
}