.page169__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.page169__left-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  align-items: flex-start;     
  padding-left: 0;           
  margin-left: 0; 
}

.page169__header {
  text-align: left;
}

.page169__system-title {
  border: 0.3rem solid #A61C28;
  color: #A61C28;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 3.8rem; /* Aumentado +2rem */
}

.page169__main-title {
  color: #A61C28;
  font-size: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.page169__subtitle {
  color: #888A8C;
  font-size: 2.7rem; /* Aumentado +1rem */
  font-weight: bold;
}

.page169__examples {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page169__example-block p {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.page169__text-red {
  color: #A61C28;
  cursor: pointer;
}


.page169__clickable-time {
  color: #A61C28;
  cursor: pointer;
  text-decoration: underline;
}

.page169__clock-container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.page169__clock-image {
  width: 50%;
  height: 50%;
  border-radius: 0.5rem;
}


.page169__note {
  border: 0.3rem solid #0A3282;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 1.7rem;
  color: #0A3282;
  width: fit-content;
}

.page169__note strong {
  font-weight: bold;
}

.page169__audio-icon {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  top: 0.3rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.page169__audio-icon:hover {
  transform: scale(1.2);
}