.page52__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page52__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page52__header--h2-h3 {
    color: black;
}

.page52__header--h2 {
    font-size: 3rem;
    padding-bottom: 0%;
}

.page52__header--h1 {
    font-size: 4rem;
}

.page52__main {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

/* Este é um comentário */

.page52__container--1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.page52__container--2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.page52__div--1-container-1 {
    max-width: 100%;
    width: 40rem;
    height: 25rem;
    border: 0.8rem solid #A61C28;
    border-radius: 2%;
}

.page52__div--2-container-1 {
    max-width: 100%;
    width: 40rem;
    height: 25rem;
    border: 0.8rem solid #A61C28;
    border-radius: 2%;
}

.page52__div--3-container-1 {
    max-width: 100%;
    width: 40rem;
    height: 40rem;
    border: 0.8rem solid #A61C28;
    border-radius: 2%;
}

.page52__div--1-container-2 {
    max-width: 100%;
    width: 40rem;
    height: 25rem;
    border: 0.8rem solid #A61C28;
    border-radius: 2%;
}

.page52__div--2-container-2 {
    max-width: 100%;
    width: 40rem;
    height: 25rem;
    border: 0.8rem solid #A61C28;
    border-radius: 2%;
}

.page52__div--3-container-2 {
    max-width: 100%;
    margin-top: 3rem;
    width: 25rem;
    height: 40rem;
    border: 0.8rem solid #A61C28;
    border-radius: 2%;
}

.page52__paragrafo--div {
    text-align: left;
}

.page52__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page52__header--h1 {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.page52__icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: relative;
    top: 0.3rem;
    left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page52__icon:hover {
    transform: scale(1.1);
}
