.page49__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page49__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page49__header--h2-h3 {
    color: black;
}

.page49__header--h2 {
    font-size: 3rem;
    padding-bottom: 0%;
}

.page49__header--h3 {
    font-size: 2.5rem;
}

.page49__header--h1 {
    font-size: 4rem;
}

.page49__main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.page49__main--div1 {
    width: 100%;
    background-color: #EEF1F2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    text-align: left;
    gap: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.page49__main--div1 p {
    margin: 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    text-align: left;
    align-content: center;
    height: 100%;
    width: 25%;
}

.page49__main--div1 p:not(:last-child) {
    border-right: 0.5rem solid #A61C28;
    border-radius: 0.1rem;
}

.page49__main--div2,
.page49__main--div3 {
    width: 48%;
    height: 60rem;
    background-color: #EEF1F2;
    margin-left: 0.5rem;
    box-shadow: 0 -0.2rem 0.8rem rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
}

.page49__listas--item {
    margin-bottom: 1rem;
}

.page49__listas--item-text {
    font-size: 2rem;
}

.page49__exemplo {
    text-align: left;
    color: #A61C28;
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 0.4rem;
}

.page49__container--divs {
    display: flex;
    justify-content: space-between;
}

.page49__listas {
    list-style: none;
    text-align: left;
}

.page49__item {
    margin-left: 2rem;
}

.page49__listas li span {
    font-size: 2rem;
}

.page49__text--red {
    font-size: 2rem;
    color: #A61C28;
}

.page49__underline {
    text-decoration: underline;
}

.page49__audio-icon {
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 1rem;
    cursor: pointer;
    left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page49__audio-icon:hover {
    transform: scale(1.1);
}