.page109__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page109__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page109__header--h2 {
    color: black;
}

.page109__main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.page109__table--header {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.page109__styled--table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.page109__styled--table:nth-child(odd) {
    margin-bottom: 0;
}

.page109__styled--table thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}

.page109__styled--table th,
.page109__styled--table td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.page109__styled--table tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.page109__styled--table tbody tr:nth-child(even) {
    background-color: white;
}

.page109__input--cell {
    width: 100%;
    height: calc(8vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    font-size: 1.8rem;
}

.page109__input--cell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.page109__input--cell::-webkit-scrollbar {
    display: none;
}

.page109__subject {
    width: calc(10vw * 0.85);
}

.page109__auxiliary--verb {
    width: calc(10vw * 0.85);
}

.page109__adverb {
    width: calc(12vw * 0.85);
}

.page109__verb {
    width: calc(12vw * 0.85);
}

.page109__object--complement {
    width: calc(18vw * 0.85);
}

.page109__translation {
    width: calc(18vw * 0.85);
}

@media (max-width: 1024px) {
    .page109__styled--table {
        margin-bottom: 15%;
    }

    .page109__styled--table th,
    .page109__styled--table td {
        padding: .5rem;
    }

    .page109__input--cell {
        height: calc(6vw * 0.85);
    }
}
