.pg218Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5rem;
  background-color: #ffffff;
  align-items: flex-start;
}

.pg218Title {
  color: #a61c28;
  font-size: 40px;
  font-style: italic;
  margin: 0;
}

.pg218ExerciseSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-bottom: 6rem;
}

.pg218ExerciseTitle {
  color: #a61c28;
  font-style: italic;
  font-size: 2.2rem;
  margin: 0;
  align-self: flex-start;
}

.pg218AnswersBox {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.pg218Line {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pg218SentenceWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pg218Number {
  color: #000000;
  font-size: 2.2rem;
  min-width: 30px;
}

.pg218Text {
  color: #000000;
  font-size: 2.2rem;
  font-style: italic;
}

.pg218InputWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2.5rem;
}

.pg218Input {
  padding: 0.5rem 1rem;
  font-size: 2.2rem;
  border: none;
  width: 400px;
  font-style: italic;
  background-color: rgba(171, 169, 169, 0.5);
  border-radius: 8px;
  color: #fff;
}

.pg218Input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.pg218Input:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.5);
}

.pg218CheckIcon {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.pg218CheckButton {
  background-color: #a61c28;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1.2rem 2.5rem;
  font-size: 2.2rem;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 2rem;
  transition: all 0.3s ease;
}

.pg218CheckButton:hover {
  background-color: #751219;
}

@media (max-width: 768px) {
  .pg218Container {
    padding: 1rem;
  }

  .pg218Title {
    font-size: 30px;
  }

  .pg218Line {
    flex-direction: column;
  }

  .pg218InputWrapper {
    margin-left: 0;
    width: 100%;
  }

  .pg218Input {
    width: 100%;
  }
}