.page78__container {
  width: 100%;
  padding: 2rem;
}

.page78__header {
  text-align: left;
}

.page78__title {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.page78__block {
  border: 0.4rem solid #0A3282;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  color: #0A3282;
  text-align: left;
}

.page78__highlight-red {
  color: #A61C28;
  font-weight: bold;
}

.page78__highlight-blue {
  color: #0A3282;
}

.page78__ex {
  margin-top: 1rem;
}

.page78__note {
  margin-top: 1rem;
  color: #A61C28;
  font-weight: bold;
}
