.page50__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page50__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page50__header--container {
    display: flex;
    gap: 2rem;
}

.page50__listen-repeat {
    color: black;
    font-size: 3rem;
}

.page50__header--h2-h3 {
    color: black;
}

.page50__header--h1 {
    font-size: 3rem;
}

.page50__header--h2 {
    font-size: 2.5rem;
    padding-bottom: 0%;
}

.page50__main {
    width: 100%;
    height: 145rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.page50__main p {
    margin-bottom: 2rem;
}

/* Este é um comentário */
.page50__paragrafo--div {
    cursor: pointer;
    text-align: left;
}

.page50__div--1-container-1,
.page50__div--2-container-1,
.page50__div--3-container-1,
.page50__div--4-container-1,
.page50__div--1-container-2,
.page50__div--2-container-2,
.page50__div--3-container-2,
.page50__div--4-container-2 {
    width: 40rem;
    height: 25rem;
    border: 0.8rem solid #A61C28;
    border-radius: 2%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page50__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page50__headph-icon {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    width: 3rem;
}

.page50__icon {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    position: relative;
    top: 1rem;
    left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page50__icon:hover {
    transform: scale(1.1);
}
