.pg46Container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pg46Header {
  width: 100%;
  text-align: left;
  color: #A61C28;
}

.pg46HeaderH2H3 {
  color: black;
}

.pg46HeaderH2 {
  font-size: 3rem;
  padding-bottom: 0%;
}

.pg46HeaderH3 {
  font-size: 2.5rem;
}

.pg46HeaderH1 {
  font-size: 4rem;
}

.pg46Main {
  width: 100%;
  height: 50rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.pg46Container {
  width: 100%;
}

.pg46TableTh {
  color: black;
}

.pg46table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

.pg46table th,
.pg46table td {
  border: 0.1rem solid #000;
  text-align: left;
  padding: 0.8rem;
}

.pg46table th {
  width: 20%;
  background-color: #A61C28;
  font-weight: bold;
  cursor: pointer;
}

.pg46table td {
  padding-left: 3.5%;
}


.pg46Aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.pg46Exemplo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 46rem;
  border: 0.3rem solid black;
  text-align: left;
  padding: 1rem;
}

.pg46Exemplo p {
  align-self: start;
}

.pg46ExemploImg {
  width: fit-content;
  position: relative;
  text-align: center;
  display: flex;
  padding-top: 4rem;
  align-items: center;
  justify-content: center;
}

.pg46AsideImg1 {
  width: 35rem;
  height: 27rem;
  border-radius: 50%;
}


.pg46Traducao {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pg46AsideTexto1 {
  background-color: #C1D9F1;
  height: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 1rem;
  position: absolute;
  top: -6%;
  left: -56%;
}

.pg46AsideTexto1::after {
  content: '';
  position: absolute;
  bottom: -10rem;
  right: -8%;
  width: 0;
  height: 0;
  border-left: 10rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 10rem solid #C1D9F1;
  clip-path: polygon(56% 0%, 88% 61%, 17% 0%);
  background-color: #C1D9F1;
}

.pg46AsideTexto2 {
  background-color: #C5E2BA;
  height: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 1rem;
  position: absolute;
  top: 29%;
  right: -61%;
}

.pg46AsideTexto2::after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: -5.2rem;
  width: 0;
  height: 0;
  border-bottom: 3.7rem solid transparent;
  border-right: 5.4rem solid #C5E2BA;
}

.pg46AsideTexto1 p,
.pg46AsideTexto1 strong,
.pg46AsideTexto2 p,
.pg46AsideTexto2 strong {
  font-size: 1.5rem;
}

.pg46AsideTraducao1 {
  background-color: #C1D9F1;
  height: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 1rem;
}

.pg46AsideTraducao2 {
  background-color: #C5E2BA;
  height: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 1rem;
}

.pg46HeaderH1,
.pg46HeaderH2,
.pg46HeaderH3 {
  cursor: pointer;
}