.page344__container {
  padding: 2rem;
  font-family: 'Arial', sans-serif;
}

.page344__header h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  text-align: left;
}

.page344__exercisesRed {
  color: #a61c28;
  font-weight: bold;
}

.page344__instructionRed {
  color: #a61c28;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.page344__matchBox {
  display: flex;
  gap: 3.8rem; /* Reduzido de 5rem para 3.8rem */
  border: 3px solid #a61c28;
  border-radius: 12px;
  padding: 1.6rem 1.3rem; /* Reduzido de 2rem 1.5rem para 1.6rem 1.3rem */
  background-color: #ffffff;
  max-width: 600px; /* Reduzido de 800px para 600px */
  margin-bottom: 1.5rem;
}

.page344__leftBox, .page344__rightBox {
  display: flex;
  flex-direction: column;
  gap: 1.4rem; /* Reduzido de 1.8rem para 1.4rem */
  font-size: 1.6rem; /* Reduzido de 1.8rem para 1.6rem */
}

.page344__matchItem {
  display: flex;
  align-items: center;
  gap: 0.6rem; /* Reduzido de 0.8rem para 0.6rem */
  padding-bottom: 0.7rem; /* Reduzido de 0.8rem para 0.7rem */
  border-bottom: 1px solid #ccc;
}

.page344__definition {
  font-size: 1.6rem; /* Reduzido de 1.8rem para 1.6rem */
  padding-bottom: 0.7rem; /* Reduzido de 0.8rem para 0.7rem */
  border-bottom: 1px solid #ccc;
}

.page344__input {
  width: 2.8rem; /* Reduzido de 3.2rem para 2.8rem */
  height: 2.8rem; /* Reduzido de 3.2rem para 2.8rem */
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem; /* Reduzido de 1.8rem para 1.5rem */
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.page344__resultIcon {
  width: 25px; /* Reduzido de 30px para 25px */
  height: 25px; /* Reduzido de 30px para 25px */
  margin-left: 0.4rem; /* Reduzido de 0.5rem para 0.4rem */
}

.page344__checkContainer {
  display: flex;
  justify-content: flex-start;
}

.page344__checkButton {
  padding: 0.8rem 1.5rem;
  font-size: 1.3rem;
  background-color: #a61c28;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
}

.page344__checkButton:hover {
  background-color: #8a1720;
}

.page344__icon {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  position: relative;
  top: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.page344__icon:hover {
  transform: scale(1.2);
}
