.page32__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page32__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page32__header--h2 {
    color: black;
}

.page32__main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.page32__table--header {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.page32__table--styled {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.page32__table--styled:nth-child(odd) {
    margin-bottom: 0;
}

.page32__table--styled thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}

.page32__table--styled th,
.page32__table--styled td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.page32__table--styled tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.page32__table--styled tbody tr:nth-child(even) {
    background-color: white;
}

.page32__input--cell {
    width: 100%;
    height: calc(8vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    font-size: 1.8rem;
}

.page32__input--cell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.page32__input--cell::-webkit-scrollbar {
    display: none;
}

.page32__subject {
    width: calc(10vw * 0.85);
}

.page32__auxiliary--verb {
    width: calc(10vw * 0.85);
}

.page32__adverb {
    width: calc(12vw * 0.85);
}

.page32__verb {
    width: calc(12vw * 0.85);
}

.page32__objective--complement {
    width: calc(18vw * 0.85);
}

.page32__translation {
    width: calc(18vw * 0.85);
}

.page32__icon {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    top: 1rem;
    transition: transform 0.2s ease-in-out;
}

.page32__icon:hover {
    transform: scale(1.2);
}

.page32__icon--left {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    right: 34%;
    top: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page32__icon--left:hover {
    transform: scale(1.2);
}

@media (max-width: 1024px) {
    .page32__table--styled {
        margin-bottom: 15%;
    }

    .page32__table--styled th,
    .page32__table--styled td {
        padding: .5rem;
    }

    .page32__input--cell {
        height: calc(6vw * 0.85);
    }
}
