.pg48Container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pg48Header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.pg48HeaderH2H3 {
    color: black;
}

.pg48HeaderH2 {
    font-size: 3rem;
}

.pg48HeaderH3 {
    font-size: 2.5rem;
}

.pg48HeaderH1 {
    font-size: 4rem;
}

.pg48Main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.pg48Exemplo {
    background-color: #F2F2F2;
    /* Fundo cinza claro */
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    text-align: left;
    /* Garante alinhamento à esquerda */
    margin-bottom: 0;
}

.pg48TituloExemplo {
    color: #A61C28;
    /* Vermelho para "Exemplo" */
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.pg48TituloTraducao {
    color: #A61C28;
    /* Vermelho para "Tradução" */
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Balões de fala */
.pg48AsideTexto1 {
    background-color: #FFF7A6;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: -7%;
    left: 51%;
}

.pg48AsideTexto1::before {
    content: '';
    position: absolute;
    bottom: -3.7rem;
    left: 3.8rem;
    width: 0;
    height: 0;
    border-top: 4.8rem solid #FFF7A6;
    border-left: 5.3rem solid transparent;
    clip-path: polygon(125% -6%, 0% 67%, 47% 0%);
    background-color: #FFF7A6;
}

.pg48AsideTexto2 {
    background-color: #C1D9F1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 0%;
    left: 53%;
}

.pg48AsideTexto2::before {
    content: '';
    position: absolute;
    bottom: -23.7rem;
    left: 8.8rem;
    width: 0;
    height: 0;
    border-top: 23.8rem solid #C1D9F1;
    border-left: 11.3rem solid transparent;
    clip-path: polygon(113% -6%, 0% 19%, 51% 1%);
    background-color: #C1D9F1;
}


.pg48AsideTexto3 {
    background-color: #FDCC98;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 100%;
    right: 40%;
}

.pg48AsideTexto3::after {
    content: '';
    position: absolute;
    top: -8.7rem;
    left: 17.8rem;
    width: 0;
    height: 0;
    border-bottom: 9.8rem solid #FDCC98;
    border-left: .3rem solid transparent;
    border-right: 2rem solid transparent;
}

.pg48AsideTexto1 p,
.pg48AsideTexto1 strong,
.pg48AsideTexto2 p,
.pg48AsideTexto2 strong,
.pg48AsideTexto3 p,
.pg48AsideTexto3 strong {
    font-size: 1.5rem;
}

.pg48ExemploImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: relative;
}

.pg48AsideImg1,
.pg48AsideImg2 {
    width: 35rem;
    height: 27rem;
    border-radius: 50%;
}

.pg48TraducaoTexto1 {
    background-color: #FFF7A6;
    height: auto;
    width: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
}

.pg48TraducaoTexto2 {
    background-color: #C1D9F1;
    height: auto;
    width: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
}

.pg48TraducaoTexto3 {
    background-color: #FDCC98;
    height: auto;
    width: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 2%;
}

.pg48HeaderH1,
.pg48HeaderH2,
.pg48HeaderH3 {
    cursor: pointer;
}