.page233__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: Arial, sans-serif;
}

.page233__title {
  color: #A61C28;
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
}

.page233__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.page233__text {
  width: 60%;
  text-align: left;
}

.page233__image {
  width: 35%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.page233__red {
  color: #A61C28;
  font-style: italic;
}
