.pg91Container {
  padding: 20px;
}

.pg91Header {
  text-align: left;
  color: #A61C28;
}

.pg91HeaderH1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: #A61C28;
}

.pg91HeaderH2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #A61C28;
}

.pg91Main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.clockTextContainer {
  width: 50%;
  font-size: 1.1rem;
  cursor: pointer;
}

.clockTextContainer p {
  margin-bottom: 3rem;
  text-align: left;
}

.clockImageContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clockImageContainer img {
  max-width: 100%;
  height: auto;
}
