.page71__container {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
}

.page71__header {
    width: 100%;
    height: 15rem;
    text-align: left;
    color: #A61C28;
}

.page71__another-header {
    width: 75%;
    height: auto;
    text-align: left;
    color: #A61C28;
}

.page71__header--h1 {
    font-size: 4rem;
}

.page71__header--h2 {
    font-size: 2.5rem;
    color: black;
}

.page71__section {
    padding: 1rem;
    background-color: #F8F9F9;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    border-radius: 1.5rem;
}

.page71__person-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
}

.page71__person-info {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.page71__image {
    width: 15rem;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border-bottom: 0.4rem solid #d1d1d1;
    border-left: 0.4rem solid #d1d1d1;
    border-top: 0.4rem solid #d1d1d1;
}

.page71__person-text--english,
.page71__person-text--portuguese {
    font-size: 1.7rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    border-bottom: 0.4rem solid #d1d1d1;
    border-right: 0.4rem solid #d1d1d1;
    border-left: 0.4rem solid #d1d1d1;
    border-top: 0.4rem solid #d1d1d1;
    position: relative;
    right: 2rem;
}

.page71__person-text--english {
    color: #A61C28;
}

.page71__person-text--portuguese {
    color: #4E4E4E;
    background-color: #f1efef;
}

.page71__person-info > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page71__main {
    width: fit-content;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.page71__question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.page71__input-box {
    width: 40%;
    padding: 0.8rem 1.5rem;
    font-size: 1.7rem;
    background-color: lightgray;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-left: 1rem;
}

.page71__question-text {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.page71__question {
    width: 40%;
    margin-bottom: 0.8rem;
    font-weight: bold;
}

.page71__check-button {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
    width: 25%;
    margin-top: 2rem;
}

.page71__check-button:hover {
    background-color: #821a22;
}

.page71__question-text {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.page71__input {
    position: relative;
    width: 40%;
    padding: 0.8rem 1.5rem;
    font-size: 1.7rem;
    background-color: #f0f0f0;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.5rem;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-right: 35%;
}

.page71__question-item {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 1rem;
}

.page71__input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page71__check-button {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
    width: 10%;
}

.page71__check-button:hover {
    background-color: #821a22;
}

.page71__word-bank {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 5rem;
}

.page71__word-bank-container {
    width: 70%;
    border: 0.4rem solid #0A3282;
    border-radius: 2rem;
}

.page71__aside-img {
    height: calc(2rem + 0.8vw);
    width: 4rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

.page71__word-bank-header {
    width: 100%;
    height: 4.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #0A3282;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.page71__word-bank-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.page71__word-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.page71__word-column p {
    margin: 0.5rem 0;
    font-size: 1.7rem;
    text-align: left;
}

.page71__word-column strong {
    display: block;
    font-weight: bold;
    color: #103275;
    
}

.page71__word-column span {
    display: block;
    color: #103275;
    margin-top: 0.2rem;
    font-size: 1.6rem;
}

.page71__check-container {
    position: absolute;
    left: 61%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.page71__checkmark-image {
    width: 2rem;
    height: 2rem;
}

.page71__eng-audio-icon, .page71__ptbr-audio-icon, .page71__slow-audio-icon {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}

.page71__eng-audio-icon {
    right: 9rem;
}

.page71__ptbr-audio-icon {
    right: 6rem;
}

.page71__slow-audio-icon {
    right: 3rem;
    top: 2%;
}

.page71__audio-icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
    top: 1rem;
    margin-left: 0.4rem;
}

.page71__audio-icon:hover {
    transform: scale(1.1);
}

.page71__audio-icon-input {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
    top: 0.3rem;
    right: 30%;
}

.page71__audio-icon-input:hover {
    transform: scale(1.1);
}

.page71__volume-ng-audio-icon {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page71__volume-ng-audio-icon:hover {
    transform: scale(1.1);
}

.page71__clickable-text {
    cursor: pointer;
}

.page71__icon {
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
  position: relative;
  top: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.page71__icon:hover {
  transform: scale(1.1);
}