.page157__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  color: black;
}

.page157__title {
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
  color: #A61C28;
}

.page157__title--highlight {
  color: black;
  font-style: italic;
}

.page157__table-header {
  background-color: #A61C28;
  color: white;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.page157__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.page157__table th,
.page157__table td {
  border: 0.1rem solid #A61C28;
  padding: 0.5rem;
  text-align: left;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.page157__table th {
  background-color: #888A8C;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.page157__verb-cell {
  background-color: #A61C28;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  display: inline-block;
}

.page157__text-red {
  color: #A61C28;
  font-weight: bold;
}

.page157__not-label {
  color: #A61C28;
  font-weight: bold;
}

.page157__image-container {
  display: flex;
  justify-content: center;
}

.page157__image {
  width: 30%;
  height: auto;
  border-radius: 0.5rem;
}

.page157__note {
  border: 0.5rem solid #0A3282;
  border-radius: 1rem;
  text-align: left;
  width: 40%;
}

.page157__note-header {
  background-color: #0A3282;
  color: white;
  padding: 0.8rem 1rem;
  font-size: 1.9rem;
  font-weight: bold;
}

.page157__note-content {
  padding: 1rem;
  background-color: white;
  color: #0A3282;
}

.page157__note-content p {
  margin: 0;
  font-size: 1.6rem;
}
