.page112__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.page112__header {
    width: 100%;
    height: 15rem;
    text-align: left;
}

.page112__header-h1 {
    font-size: 4rem;
    color: #A61C28;
}

.page112__header-h2 {
    font-size: 2.5rem;
}

.page112__main {
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5rem;
}

/* Este é um comentário */

.page112__images {
    display: flex;
    gap: 10%;
}

.page112__image {
    width: 17rem;
    height: 17.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
}

.page112__paragraph--red {
    color: #A61C28;
}

.page112__paragraph--black {
    font-size: 1.8rem;
    color: #62169F;
}

.page112__images:last-child {
    display: flex;
    justify-content: space-between;
}

.page112__images:last-child > div:nth-child(3),
.page112__images:last-child > div:nth-child(4) {
    visibility: hidden;
}

.page112__images:last-child > div:nth-child(1),
.page112__images:last-child > div:nth-child(2) {
    visibility: visible;
}

.page112__header-h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page112__header-icons {
    display: flex;
    gap: 0.5rem;
}

.page112__header-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.page112__header-icon:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .page112__main {
        width: 100%;
    }
}
