.page113__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.page113__header {
    width: 100%;
    height: 15rem;
    text-align: left;
}

.page113__header-h1 {
    font-size: 4rem;
    color: #A61C28;
}

.page113__header-h2 {
    font-size: 2.5rem;
}

.page113__main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5rem;
}

/* Este é um comentário */

.page113__container-images-1 {
    width: 100%;
    display: flex;
    gap: 6rem;
}

.page113__image-wide {
    width: 100%;
}

.page113__image-normal {
    width: 100%;
}

.page113__flex-images {
    display: flex;
    gap: 0.5rem;
}

.page113__container-images-2 {
    width: 100%;
    display: flex;
    gap: 6rem;
    justify-content: space-around;
}

.page113__image-large {
    width: 100%;
}

.page113__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.page113__flex-b {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.page113__paragraph--red {
    color: #A61C28;
}

.page113__text-container {
    width: 9rem;
    height: 7rem;
    background-color: #E6E7E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

@media (max-width: 1024px) {
    .page112__main {
        width: 100%;
    }
}
