.page147__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
}

.page147__title {
    font-size: 3rem;
    text-align: left;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.page147__title--red {
    color: #A61C28;
    font-weight: bold;
}

.page147__subtitle {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.page147__icons-container img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
    position: relative;
    top: 0.3rem;
}

.page147__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.page147__questions-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    font-size: 1.8rem;
}

.page147__question {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    color: black;
    text-align: left;
}

.page147__input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page147__input-box {
    width: 18rem;
    padding: 0.5rem;
    font-size: 1.8rem;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.page147__checkmark-image {
    width: 2rem;
    height: 2rem;
    position: static;
}

.page147__image-container {
    flex-shrink: 0;
}

.page147__image {
    width: 25rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.page147__check-button {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    width: fit-content;
    align-self: flex-start;
    margin-left: 0;
}

.page147__answers-section {
    margin-top: 3rem;
    text-align: left;
}

.page147__answers-title {
    color: #A61C28;
    font-size: 2.5rem;
    font-weight: bold;
}

.page147__answers-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    color: black;
}

.page147__answers-list {
    list-style-type: decimal;
    margin-left: 2rem;
    font-size: 2rem;
    margin-top: 1rem;
}

.page147__answers-list li {
    margin-bottom: 0.8rem;
}