.page72__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
}

.page72__header {
    width: 100%;
}

.page72__h1 {
    text-align: left;
    font-size: 6rem;
    color: #8a1720;
}

.page72__p {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.page72__main {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.page72__aside {
    width: 100%;
    display: flex;
}

.page72__container-questoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page72__questions1,
.page72__questions2 {
    margin-top: 2rem;
    text-align: left;
    width: 53rem;
}

.page72__question {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    color: black;
    text-align: left;
}

.page72__question span {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
}

.pg84__a-titulo-question {
    color: #8a1720;
    font-weight: bold;
    font-size: 2rem;
}

.page72__input-box {
    width: 100%;
    padding: .5rem;
    font-size: 1.8rem;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: left;
}

.page72__input-container {
    gap: 1rem;
    width: 23%;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.page72__checkmark-image {
    width: 2.5rem;
    height: 2.5rem;
    pointer-events: none;
}

.page72__check-button {
    background-color: #A61C28;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    text-align: center;
    display: block;
    font-size: 2rem;
    width: fit-content;
}

.page72__check-button:hover {
    background-color: #8a1720;
}

.page72__icons-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.page72__additional-icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.page72__additional-icon--pulsing {
    animation: pulse 1s infinite;
}

.page72__additional-icon:hover {
    transform: scale(1.2);
}

.page72__imagem {
    width: 100%;
    height: auto;
}

.page72__notes-container,
.page72__tabela-negativa-container {
    width: 50%;
}

.page72__notes-container {
    margin-top: 3.5rem;
}

.page72__tabela-negativa-container {
    margin-top: 3rem;
}

.page72__table-header-afirmativa,
.page72__table-header-negativa {
    background-color: #A61C28;
    color: white;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
    margin-bottom: 0.2rem;
}

.page72__styled-table-afirmativa,
.page72__styled-table-negativa {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0.5rem;
}

.page72__styled-table-afirmativa th,
.page72__styled-table-negativa th {
    background-color: #ffffff;
    color: #0A3282 !important;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #A61C28;
}

.page72__celula-table {
    height: 7rem;
}

.page72__word-bank {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 5rem;
}

.page72__word-bank-container {
    width: 70%;
    border: 0.4rem solid #0A3282;
    border-radius: 2rem;
}

.page72__word-bank-header {
    width: 100%;
    height: 4.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #0A3282;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.page72__word-bank-header-1{
    width: 100%;
    color: #0A3282;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.page72__word-bank-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.page72__word-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.page72__word-column p {
    margin: 0.5rem 0;
    font-size: 1.7rem;
    text-align: left;
    color: #0A3282;
}

.page72__red-text {
    color: #0A3282;
}

.page72__correct-answer-container {
    font-size: 0.1rem;
    font-weight: bold;
    white-space: nowrap;
}

.page72__input-container {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .page72__aside-notes2 p {
        font-size: 2rem;
    }

    .page72__styled-table-afirmativa th,
    .page72__styled-table-negativa th {
        font-size: 1.8rem;
    }

    .page72__container-questoes {
        flex-direction: column;
    }

    .page72__question {
        gap: 5px;
    }

    .page72__icons-container {
        margin-left: 0;
    }

    .page72__container-imagem {
        align-items: start;
        justify-content: left;
        height: fit-content;
    }

    .page72__input-container {
        width: 15%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.page72__header-audio-icon {
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-left: 0.5rem;
}

.page72__header-audio-icon:hover {
    transform: scale(1.1);
}

.page72__pulsing {
    animation: pulse 1.5s infinite;
}

.page72__correct-answer-wrapper {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.page72__correct-answer {
    font-size: 1.5rem;
    color: red;
    display: block;
    font-weight: bold;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
