.page36__container {
    display: flex;
    flex-direction: column; 
    gap: 2rem; 
}

.page36__header {
    width: 100%;
}

.page36__main--container {
    flex: 3; 
    display: flex;
    flex-direction: column;
}

.page36__main--aside--container {
    display: flex; 
    justify-content: space-between; 
    gap: 2rem;
}

.page36__page--title,
.page36__question--text {
    text-align: left;
    padding-left: 0;
    margin: 0; 
    color: #A61C28;
    font-weight: bold;
}

.page36__frase--container {
    margin-bottom: 1rem;
}

.page36__frase {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.page36__word {
    font-size: 1.5rem;
    background-color: #d3d3d3;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
}

.page36__word--disabled {
    pointer-events: none;
    opacity: 0.5;
}

.page36__input--frase {
    display: flex;
    padding: 0.25rem; 
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 0.25rem;
    min-height: 4rem; 
    width: 100%; 
    background-color: whitesmoke;
    overflow-x: auto;
    margin-top: 2%;
}

.page36__chip {
    font-size: 1.5rem;
    display: inline-flex; 
    background-color: #d3d3d3;
    padding: 0.5rem 0.75rem; 
    border-radius: 0.5rem;
    font-weight: bold; 
    color: black; 
    margin-right: 0.5rem;
    min-width: 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.page36__aside--container {
    flex: 1; 
    display: block;
}

.page36__new-aside {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page36__new-aside-notes1 {
    width:100%;
    height: 4.5rem;
    border: 0.4rem solid #0A3282;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    background-color: white;
    font-weight: bold;
    color: #0A3282;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.page36__new-aside-notes2 {
    width: 100%;
    height: 100%;
    border: 0.4rem solid #0A3282;
    border-top: 0.1rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: white;
    text-align: left;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    color: #103275;
}

.page36__new-aside-notes2 p li{
    font-size: 2rem;
    margin-left: 2rem;
}

.page36__aside-img {
    height: calc(2rem + 0.8vw);
    width: 4rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

.page36__check--button {
    background-color: #A61C28;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 2rem;
    width: 25%;
}

.page36__check--button:hover {
    background-color: #821a22;
}

.page36__tabela--afirmativa--container,
.page36__tabela--negativa--container {
    display: block;
    width: 37rem;
    margin-left: auto;
}

.page36__tabela--negativa--container {
    margin-top: 5.8rem;
}

.page36__table--header--afirmativa,
.page36__table--header--negativa {
    background-color: #A61C28;
    color: white;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
    margin-bottom: 0.2rem;
}

.page36__styled--table--afirmativa,
.page36__styled--table--negativa {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0.5rem;
}

.page36__styled--table--afirmativa th,
.page36__styled--table--negativa th {
    background-color: #888A8C;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #A61C28;
}

.page36__imagens--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 37rem;
    margin-top: 4.2rem;
    margin-left: auto;
}

.page36__imagem {
    border-radius: 5%;
}

.page36__icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
  
.page36__icon:hover {
    transform: scale(1.2);
}
