.page58__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    padding-bottom: 0;
}

.page58__title {
    font-size: 4rem;
    color: #A61C28;
    text-align: left;
}

.page58__main {
    padding: 4%;
    width: 100%;
    text-align: center;
    background-color: #EEF4F7;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
}

.page58__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.page58__table th,
.page58__table td {
    font-size: 2rem;
    border: 0.1rem solid #000;
    color: black !important;
}

.page58__table tr:first-child th {
    border: 0.2rem solid #000;
}

.page58__table thead tr:first-child th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.page58__table thead tr:first-child th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.page58__table tbody th:first-child {
    border-left: none;
}

.page58__table tbody th:last-child {
    border-right: none;
}

.page58__audio-icon {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page58__audio-icon:hover {
    transform: scale(1.1);
}

/* Estilização do cabeçalho */
.page58__header {
    text-align: center;
    padding: 1rem 0;
}

.page58__table tr th:not(:first-child) {
    cursor: pointer;
}