.page85__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
}

.page85__header {
    width: 100%;
}

.page85__header--h1 {
    text-align: left;
    font-size: 6rem;
    color: #8a1720;
}

.page85__header--h2 {
    text-align: left;
    font-size: 2.5rem;
    color: #8a1720;
    margin-bottom: 2rem;
    font-weight: bold;
}

.page85__main {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

/* Este é um comentário */

.page85__container--questoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page85__questions--1,
.page85__questions--2 {
    margin-top: 2rem;
    text-align: left;
}

.page85__question {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
    color: black;
    text-align: left;
}

.page85__question--text {
    font-size: 1.9rem;
    font-weight: bold;
    color: black;
}

.page85__question--titulo {
    color: #8a1720;
    font-weight: bold;
    font-size: 2rem;
}

.page85__input--box {
    width: 100%;
    padding: .5rem;
    font-size: 1.8rem;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: left;
}

.page85__input--container {
    gap: 1rem;
    width: 23%;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.page85__checkmark--image {
    width: 2.5rem;
    height: 2.5rem;
    pointer-events: none;
}

.page85__check--button {
    background-color: #A61C28;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    margin: 2rem;
    margin-bottom: 0;
    text-align: center;
    display: block;
    font-size: 2rem;
    width: fit-content;
}

.page85__check--button:hover {
    background-color: #8a1720;
}

.page85__icons--container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 5px;
}

.page85__additional--icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.page85__additional--icon--pulsing {
    animation: pulse 1s infinite;
}

.page85__additional--icon:hover {
    transform: scale(1.2);
}

.page85__image {
    width: 37rem;
    height: 27rem;
}

.page85__table--afirmativa--container,
.page85__table--negativa--container {
    width: 100%;
}

.page85__table--header--afirmativa,
.page85__table--header--negativa {
    background-color: #A61C28;
    color: white;
    text-align: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
    margin-bottom: 0.2rem;
}

.page85__styled--table--afirmativa,
.page85__styled--table--negativa {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0.5rem;
}

.page85__styled--table--afirmativa th,
.page85__styled--table--negativa th {
    background-color: #ffffff;
    color: #0A3282 !important;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #A61C28;
}

.page85__cell--table {
    height: 7rem;
}

.page85__container--imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.page85__header--icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.page85__header--icon:hover {
    transform: scale(1.1);
}

.page85__word-bank-header-1{
    width: 100%;
    color: #0A3282;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    .page85__aside--notes--2 p {
        font-size: 2rem;
    }

    .page85__styled--table--afirmativa th,
    .page85__styled--table--negativa th {
        font-size: 1.8rem;
    }

    .page85__container--questoes {
        flex-direction: column;
    }

    .page85__question {
        gap: 5px;
    }

    .page85__icons--container {
        margin-left: 0;
    }

    .page85__container--imagem {
        align-items: start;
        justify-content: left;
        height: fit-content;
    }

    .page85__input--container {
        width: 15%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
