.page15__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page15__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page15__header-h2 {
    color: black;
}

.page15__main {
    width: 100%;
    text-align: center;
}

/* Este é um comentário */

.page15__table-header {
    background-color: #A61C28;
    color: white;
    text-align: center !important;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.page15__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
    table-layout: fixed;
}

.page15__table:nth-child(odd) {
    margin-bottom: 0;
}

.page15__table thead tr {
    background-color: #888A8C;
    color: white;
    font-weight: bold;
}

.page15__table th,
.page15__table td {
    border: .1rem solid #A61C28;
    padding: 1rem;
    text-align: left;
    color: black;
    font-weight: bold;
}

.page15__table tbody tr {
    background-color: white;
    max-width: 100%;
    height: calc(7vw * 0.85);
}

.page15__table tbody tr:nth-child(even) {
    background-color: white;
}

.page15__input-cell {
    width: 100%;
    height: calc(8vh * 0.85);
    border: none;
    padding: .8rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    font-size: 1.8rem;
}

.page15__input-cell:focus {
    outline: none;
    border: .1rem solid #F2F2F2;
    background-color: white;
}

.page15__input-cell::-webkit-scrollbar {
    display: none;
}

.page15__table-subject {
    width: calc(10vw * 0.85);
}

.page15__table-auxiliary {
    width: calc(10vw * 0.85);
}

.page15__table-adverb {
    width: calc(12vw * 0.85);
}

.page15__table-verb {
    width: calc(12vw * 0.85);
}

.page15__table-complement {
    width: calc(18vw * 0.85);
}

.page15__icon {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    top: 1rem;
    transition: transform 0.2s ease-in-out;
}

.page15__icon:hover {
    transform: scale(1.2);
}

.page15__icon-left {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    right: 42%;
    top: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page15__icon-left:hover {
    transform: scale(1.2);
}

@media (max-width: 1024px) {
    .page15__table {
        margin-bottom: 15%;
    }

    .page15__table th,
    .page15__table td {
        padding: .5rem;
    }

    .page15__input-cell {
        height: calc(6vw * 0.85);
    }
}
