.page75__container {
  width: 100%;
  padding: 2rem;
}

.page75__header {
  text-align: left;
}

.page75__grammar-title {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
}

.page75__header--en {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
}

.page75__header--pt {
  color: black;
  font-size: 2.8rem;
  font-style: italic;
}

.page75__infinitive {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.page75__main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.page75__block {
  border: 0.4rem solid #A61C28;
  border-radius: 1rem;
  padding: 5rem 2rem 2rem 2rem;
  position: relative;
}

.page75__label--leftO,
.page75__label--centerP,
.page75__label--centerR,
.page75__label--rightS,
.page75__label--leftT,
.page75__label--centerU,
.page75__label--rightW {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
}

.page75__columns--4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.page75__columns--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.page75__column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page75__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 2rem;
  color: black;
}

.page75__english {
  color: #A61C28;
  font-weight: bold;
}

.page75__labels span {
  color: #A61C28;
  font-size: 3rem;
  font-weight: bold;
}

.page75__labels {
  position: relative;
  margin-bottom: -3rem;
  display: flex;
  justify-content: space-between;
}

.page75__label--leftO {
  position: relative;
  left: 12%;
}

.page75__label--centerP{
    position: relative;
    left: 4%;
}
.page75__label--centerR {
    position: relative;
    right: 4%;
}

.page75__label--rightS {
  position: relative;
  right: 12%;
}

.page75__label--leftT {
  position: relative;
  left: 15%;
}

.page75__label--rightW {
  position: relative;
  right: 18%;
}

.page75__row div {
  text-align: left;
}

.page75__audio-icon {
  position: relative;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.page75__audio-icon:hover {
  transform: scale(1.1);
}
