.page48__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.page48__header {
    width: 100%;
    text-align: left;
    color: #A61C28;
}

.page48__header-h2-h3 {
    color: black;
}

.page48__header-h2 {
    font-size: 3rem;
}

.page48__header-h3 {
    font-size: 2.5rem;
}

.page48__header-h1 {
    font-size: 4rem;
}

.page48__main {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.page48__exemplo {
    background-color: #F2F2F2;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 0;
}

.page48__titulo-exemplo {
    color: #A61C28;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.page48__titulo-traducao {
    color: #A61C28;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.page48__aside-texto-1 {
    background-color: #FFF7A6;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: -7%;
    left: 51%;
}

.page48__aside-texto-1::before {
    content: '';
    position: absolute;
    bottom: -3.7rem;
    left: 3.8rem;
    width: 0;
    height: 0;
    border-top: 4.8rem solid #FFF7A6;
    border-left: 5.3rem solid transparent;
    clip-path: polygon(125% -6%, 0% 67%, 47% 0%);
    background-color: #FFF7A6;
}

.page48__aside-texto-2 {
    background-color: #C1D9F1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 0%;
    left: 53%;
}

.page48__aside-texto-2::before {
    content: '';
    position: absolute;
    bottom: -23.7rem;
    left: 8.8rem;
    width: 0;
    height: 0;
    border-top: 23.8rem solid #C1D9F1;
    border-left: 11.3rem solid transparent;
    clip-path: polygon(113% -6%, 0% 19%, 51% 1%);
    background-color: #C1D9F1;
}

.page48__aside-texto-3 {
    background-color: #FDCC98;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 100%;
    right: 40%;
}

.page48__aside-texto-3::after {
    content: '';
    position: absolute;
    top: -8.7rem;
    left: 17.8rem;
    width: 0;
    height: 0;
    border-bottom: 9.8rem solid #FDCC98;
    border-left: .3rem solid transparent;
    border-right: 2rem solid transparent;
}

.page48__aside-texto-1 p,
.page48__aside-texto-1 strong,
.page48__aside-texto-2 p,
.page48__aside-texto-2 strong,
.page48__aside-texto-3 p,
.page48__aside-texto-3 strong {
    font-size: 1.5rem;
}

.page48__exemplo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: relative;
}

.page48__aside-img-1,
.page48__aside-img-2 {
    width: 35rem;
    height: 27rem;
    border-radius: 50%;
}

.page48__traducao-texto-1 {
    background-color: #FFF7A6;
    height: auto;
    width: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
}

.page48__traducao-texto-2 {
    background-color: #C1D9F1;
    height: auto;
    width: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
}

.page48__traducao-texto-3 {
    background-color: #FDCC98;
    height: auto;
    width: fit-content;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 2%;
}

.page48__audio-icon {
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 1rem;
    cursor: pointer;
    left: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.page48__audio-icon:hover {
    transform: scale(1.1);
}